* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

  }
  #main {
    width: 100%;
    height: 100%;
    /* background-color: rgb(235, 233, 233); */
    display: flex;
    align-items: flex-end;
    /* justify-content: ; */
    padding: 0px 70px;
    padding-top: 80px;
    gap: 50px;
  }
  .left{
    width: 45%;
    height: 100%;
    /* background-color: rgb(199, 47, 9); */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-bottom: 10px;
  }
  .left h1{
    font-size: 6.89vw;
    font-weight: 400;
    line-height: 7vw;
  }
  .left-bottom{
    width: 100%;
    /* height: 40%; */
    /* background-color: yellow; */

  }
  #color{
    width: fit-content;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;

  }
#color1{
    width: 20px;
    height: 20px;
    background-color: rgb(143, 27, 62);
    border-radius: 50%;
    margin-right: 3px;
}
#color h5{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}
#color2{
    width: 20px;
    height: 20px;
    background-color: rgb(66, 1, 66);
    border-radius: 50%;
}
.left h2{
      margin-top: 10px;
      font-size: 2vw;
      margin-bottom: 10px;
      font-weight: 500;

}
.left p{
    font-size: 1.5vw;
    width: 80%;
    font-weight: 500;
    color: #444;
    line-height: 1.9vw;
}
  .right{
    width: 33%;
    height: 90%;
    /* background-color: rgb(168, 26, 26); */
    position: relative;
  }
  #right-top{
    height: 60px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
  }
  #right-top h2{
    font-size: 20px;
    font-weight: 500;
  }
  #right-top h5{
    font-size: 16px;
    /* background-color: red; */

  }
  #right-top h5 i{
    color: gold;
    padding-left: 2px;

  }
  .right img{
    width: 100%;
    height: 87.40%;
    /* object-fit: cover; */
    
  }
  .black-golo{
    height:150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(12, 10, 10);
    color: #fff;
    position: absolute;
    right: -20%;
    top: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .black-golo h5{
    font-size: 20px;
    font-weight: 500;
  }
  #rotate{
    position: absolute;
    /* background-color: brown; */
    left: -12%;
    bottom:8%;
    rotate: -90deg;
    transform-origin: 0 0;
    font-weight: 400;
    font-size: 30px;
  }
  @media (max-width:600px) {
     #main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding:  40px;
    padding-top: 40px;
    gap: 60px;
  }
  .left{
    width: 100%;
    height: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-bottom: 10px;
   gap: 40px;
  }
  .left h1{
    font-size: 15vw;
    font-weight: 400;
    line-height: 13vw;
  }
  .left-bottom{
    width: 100%;


  }
  #color{
    width: fit-content;
    padding: 8px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;

  }
#color1{
    width: 13px;
    height: 13px;
    background-color: rgb(143, 27, 62);
    border-radius: 50%;
    margin-right: 3px;
}
#color h5{
    font-size: 14.5px;
    margin-right: 5px;
    font-weight: 500;
}
#color2{
    width: 13px;
    height: 13px;
    background-color: rgb(66, 1, 66);
    border-radius: 50%;
}
.left h2{
      margin-top: 10px;
      font-size: 3.8vw;
      margin-bottom: 10px;
      font-weight: 500;

}
.left p{
    font-size: 3.1vw;
    width: 86%;
    font-weight: 500;
    color: #444;
    line-height: 3.8vw;
}
  .right{
    width: 100%;
    height: 100%;
    /* background-color: rgb(168, 26, 26); */
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }
  #right-top{
    height: 60px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0px;
  }
  #right-top h2{
    font-size: 25px;
    font-weight: 500;
  }
  #right-top h5{
    font-size: 18px;
    /* background-color: red; */

  }
  #right-top h5 i{
    color: gold;
    padding-left: 2px;

  }
  .right img{
    width: 100%;
    height: 87.40%;
    /* object-fit: cover; */
    
  }
  .black-golo{
    height:120px;
    width: 120px;
    border-radius: 50%;
    background-color: rgb(12, 10, 10);
    color: #fff;
    position: absolute;
    right: -2%;
    top: -15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .black-golo h5{
    font-size: 20px;
    font-weight: 500;
  }
  #rotate{
    position: absolute;
    /* background-color: brown; */
    left: 0%;
    top: -10%;
    rotate: 0deg;
    transform-origin: 0 0;
    font-weight: 400;
    font-size: 25px;
  }
  }
 